.espaço{

    padding: 3%;

}

.botao{

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    align-self: bottom;

    border-radius: 10px;
    }

.img-container{

    height: 200px;
    
    
    }
    
.container{
    height: 100px;
}

.bandeira{

    width:316;
    height:181;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    
}
      