<ion-header>
  <ion-toolbar>
    <ion-title>
      <img alt="logo" height="70" width="136"   src="assets/icon/logo.png" >
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-grid [fixed]="false">

  <ion-row>
    
    <ion-col  size="12" size-sm="12" size-md="4"><div class="lista">
      <ion-list>
        <ion-list-header>
          <ion-label>
            Região
          </ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Escolha uma Região</ion-label>
          <ion-select [(ngModel)]="regiaoSelecionada" (ionChange)="carregaRegiao()" [interfaceOptions]="customPopoverOptions" interface="popover" >
            <ion-select-option value="Africa">Africa</ion-select-option>
            <ion-select-option value="Americas">Americas</ion-select-option>
            <ion-select-option value="Asia">Asia</ion-select-option>
            <ion-select-option value="Europe">Europa</ion-select-option>
            <ion-select-option value="Oceania">Oceania</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      </div></ion-col>

      <ion-col  size="12" size-sm="12" size-md="4"><div class="lista">
        <ion-list>
          <ion-list-header>
            <ion-label>
              País
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label>Escolha um país</ion-label>
            <ion-select [interfaceOptions]="customPopoverOptions"  (ionChange)="carregaPais()" [(ngModel)]="paisSelecionado" interface="popover" >
              <ion-select-option *ngFor="let pais of resultado" value="{{pais.name}}">
                {{pais.name}}
                <span>{{pais.flag}}</span>
              </ion-select-option>
              <img *ngFor="let pais of resultado" src="{{pais.flag}}">
            </ion-select>
          </ion-item>
        </ion-list>
        </div></ion-col>
        
        <ion-col  size="12" size-sm="12" size-md="4">
          <div class="container" style="padding: 5%;"> 
            <ion-button (click)="onClick()" class="botao" >Pesquisar</ion-button>
          </div>
        </ion-col>
  </ion-row>

  <ion-row> 
    <ion-col size="12" size-sm="12" size-md="4">
      <div class="img-container">
        <img class="bandeira" alt="logo" width="316" height="181" src="assets/icon/brasil.png" >
      </div >
    </ion-col >
    <ion-col size="12" size-sm="12" size-md="4">
      <div class="img-container">
        <img class="bandeira" alt="logo" width="316" height="181" src="assets/icon/alemanha.png" >
      </div>
    </ion-col >
    <ion-col size="12" size-sm="12" size-md="4">
      <div class="img-container">
        <img class="bandeira" alt="logo" width="316" height="181" src="assets/icon/japao.png" >
      </div>
    </ion-col>
  </ion-row>

</ion-grid>
  
</ion-content>
